---
    import Layout from '@/components/astro/Layout.astro'
    import { Button } from '@/components/ui/button'
---

<Layout title="home">
    <main class="w-full h-screen grid place-content-center">
        <h2>welcome to my website!</h2>
        <a href="/news-app/business"><Button>continue</Button></a>
    </main>
</Layout>